body {
	font-family: 'Cardo', serif;
	background-color: #222c3c;
	color: #e2e0d5;
}

h1 {
	font-family: 'Lato', sans-serif;
}

a:hover {
	color: #999ea7;
}

a {
	color:#d8b26e;
	text-decoration: none;
	cursor: pointer;
}

.containers {
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

#profile {
	left: 50%;
	width: 196px;
	height: 196px;
	margin: auto;
}

#profile img {
	border: 3px solid #e2e0d5;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 50%;
}

#head {
	left: 50%;
	margin-left: auto;
	margin-right: auto;
}

.italics {
	font-style: italic;
}

p {
	font-size: 14px;
	margin-bottom: 0px;
}

#left {
	padding-right: 50px;
	display:flex;
    flex-direction:column;
}

#right {
	display:flex;
    flex-direction:column;
}

#cv {
	margin-top: 30px;
	width: 350px;
}

@media only screen and (max-width: 960px) {
	.containers {
		flex-direction: column;
		margin-top: 100px;
		width: 600px;
	}
	#left {
		flex-direction: column;
		padding-right: 0px;
	}

	#right {
		flex-direction: row;
		margin-top: 24px;
	}
	#profile {
		flex-direction: row;
	}
	#cv {
		text-align: center;
		flex-direction: row;
		width: 100%;
	}
}

@media only screen and (max-width: 650px) {
	.containers {
		margin-top: 50px;
		width: 420px;
	}